body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: antiquewhite;
  font-size: 16px;
  overscroll-behavior: none;
}

.wrapper {
  display: flex;
  height: 100vh;
}
