
.contact-content{
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 80vh;
}

.contact-page{
    width: 80vw;
    min-width: 500px;
}

.contact-container {
    width: 70vw;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.slide-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column-reverse;
    align-items: center;
    height: calc(80vh - 75px);
    min-width: 500px;
}
.contact-socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: center;
}
.center-socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.socials-style{
    border: none;
    margin: 1vh 1vw;
    cursor: pointer;
    border-radius: 5px;
    text-transform: none;
    text-align: center;
    background: #048707;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-style:hover{
    background-color: #0a6b0a;
}
.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    min-width: 500px;
}

.contact-spacing {
    margin: 1vh 0 0 0;
}

.contact-input {
    padding: 10px;
}

.contact-elements{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}
.textarea {
    padding: 10;
    height: 20vh;
    resize: 'none'
}

.email-button {
    background-color: #048707;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 2vh 0;
}
.email-button:hover{
    background-color: #0a6b0a;
}
@media screen and ((max-height: 700px)){
    .slide-container{
        width: 1100px;
        flex-direction: row;
        justify-content: left;
       
    }
    .contact-container{
        height: 500px;
        height: 100%;
        width: auto;
    }
    .center-socials{
        height: 100%;
        width: 200px;
    }
    .contact-socials{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }
}
@media screen and ((max-height: 450px) or (max-width: 800px)){

    .contact-container {
        flex-direction: column;
        justify-content: center;
    }

    .contact-form {
        width: 600px;
        height: 200px;
     }

}