.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; 
  overflow: auto;
}

.scroll-container {
  display: flex;
  overflow: hidden;
  flex: 1; /* Take remaining space */
}

.container {
  display: flex;
  flex-direction: column;
}

.content{
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
}

.landscape{
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
}

.content-block-1 {
  width: 80vw;
  min-width: 500px;
  height: 100%;
  background-color: skyblue;
  margin-right: 20px;
}

.content-block-2 {
  width: 100vw;
  height: 100%;
  background-color: forestgreen;
  margin-right: 20px;
  border-width: 10px;
}

.runner-container {
  position: fixed;
  bottom: 0;
  left: max(300px, 50vw);
  right: max(300px, 50vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px){
  .runner-container {
    left: 0;
    right: 0;
  }
}