.vertical-navbar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 0 5px;
    width: 20vw; 
    min-width: 220px;
    height: 100vh; 
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow-y: auto;
    direction: rtl;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.profile-container h1 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}
  
.profile-image {
    width: 15vw;
    height: 15vw;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    margin: 10px;
}

.contact-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0;
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    margin: 5px;
    cursor: pointer;
    border-radius: 20%;
    border-color: white;
    border-width: 1px;
    padding: 0px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 0.125rem solid transparent;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    border-radius: 20%;
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center; 
    margin: 2px!important; 
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa; }
.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
.btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent; }
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
    .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }

.linkedin-icon:hover {
    color: #0A66C2; 
  }

.profile-container p {
    margin: 0; 
    padding: 0; 
  }

.nav-btn-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px; 
}

.material-ui-button{
    margin: 10px;
}

.nav-button p{
    margin: 0;
    font-size: 1rem;
}

.nav-button:hover {
background-color: #777;
}

.fa-icon{
    font-size: 1.5rem;
    padding: 0
}

.light-dark-mode{
    margin-top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}
.light-dark-mode p{
    margin: 0;
}
@media screen and (max-width: 600px){
    .vertical-navbar {
       display: none;
    }
}