.vertical-navbar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 0 10px 0 10px;
    width: 20vw; 
    min-width: 150px;
    height: 100vh; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
.profile-image {
width: 150px;
height: 150px;
background-color: #555; /* Placeholder color */
border-radius: 50%;
margin: 10px;
}

.contact-buttons {
display: flex;
}

.contact-button {
background-color: #555;
color: white;
border: none;
padding: 5px 10px;
margin: 0 5px 0 5px;
cursor: pointer;
border-radius: 3px;
}

.contact-button:hover {
    background-color: #777;
}

.linkedin-icon:hover {
    color: #0A66C2; /* Hover color */
  }

.description-box {
    background-color: #555;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}  

.profile-container p {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }

.nav-button {
background-color: #555;
color: white;
border: none;
padding: 10px;
margin: 5px 0;
cursor: pointer;
border-radius: 5px; 
}

.nav-button:hover {
background-color: #777;
}
