.resume-content{
  height: 80vh;
  margin: 0 2vw;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.Resume-Page{
  width: min(80vw, 100vw - 200px);
}
.resume-content h1{
  margin: 2vh 2vw;
}

.resume-banners{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.banner-container{
  height: 60vh; 
  width: 300px;
  margin: 0 2vw;
}

.banner-container-resume{
  margin: 0 2vw;
}

.banner {
  background-color: white;
  height: calc(60vh - 20px) ;
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.banner:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.banner img {
  height: 8vh;
  min-height: 50px;
  max-height: 75px;
  width: auto;
  margin: 2vh 0;
}

.banner h2{
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.banner p{
  text-align: center;
  margin: 0;
  color: #376b96;
}

.banner ul {
  list-style-type: circle; 
  padding: 0; 
  margin: 2vh 2vw; 
}

.image-container {
  text-align: center;
  width: max(150px, 100%);
}

.resume-center{
  height: 60vh;
  display: flex;
  align-items: center;
}

.download-resume{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: calc(60vh - 20px);;
  padding: 10px;
  background-color: white;
  border-color: black;
  border-width: 10px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
}

.download-resume:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.pdf-iframe {
  height: 80%;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.resume-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .button-container > Button {
  flex: 1;
} */

@media screen and (max-height: 650px){
  .banner-container {
    width: 700px;
    height: 150px;
    flex-direction: column;
  }

  .download-resume{
    height: 150px;
  }
  .banner {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .banner ul {
    /* margin: 0 5px;  */
    margin-top: auto;
    margin-bottom: auto;
  }

  .description {
    margin: 0 2vw;
  }

}