.resume-content{
    height: 80vh;
}

.resume-content h1{
    color: white;
    margin: 2vh 2vw;
}

.resume-banners{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner{
    margin: 2vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60vh;
    width: 300px;
    background-color: transparent;
    background-color: #fff;
    padding: 10px;
    text-align: left;
    overflow-y: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.banner:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.banner h2{
    text-align: center;
    margin: 0;
}

.banner p{
    margin: 0;
}

.banner h3{
    text-align: center;
}

.banner ul {
    list-style-type: disc; /* Set the bullet style */
    padding: 0; /* Remove default padding */
    margin: 1rem; /* Remove default margin */
    font-size: min(2vw, 2vh);
  }
  
.banner li {
    margin-bottom: 5px; /* Adjust the margin between list items */
}

.image-container {
    text-align: center;
}

.banner img {
    height: 50px;
    width: auto;
    margin: 2vh 0;
}
  
.banner h3{
    margin: 0;
}
