.image-animation-container {
    overflow: hidden;
  }
  
  .image-animation {
    height: 20vh;
    width: auto;
    /* width: 20vw; */
    /* height: auto; */
    transform: scaleX(-1);
    margin: 1rem 0;
  }