.shape{
    margin: 0 2vw;
    min-width: 80vw;
    box-sizing: border-box;
    padding: 0;
}

.welcome-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: skyblue;
    margin: 0 2vw;
    height: 80vh;
    width: 100%;
}

.welcome-wraper h1 {
    color: white;
    margin: 2vh 2vw;
}

.education {
    height: 15vh;
    width: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.education-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 100px;
    width: 100px; */
    /* background-color: black; */
    padding: 0 2vw; /* Adjust padding as needed */
}

.img-format {
    display: flex;
    align-items: center;
    margin: 0 2vw;
}

.img-box {
    height: 30vh;
    min-height: 200px;
    width: auto;
    border-radius: 10px;
}

.text-box {
    margin: 2vh 2vw;
    height: max(100%, 200px);
    width: max(450px, 40vw);
}

.text-box p {
    margin: 1vh 0;
    font-size: 1rem;
}

.text-box h3 {
    margin: 0;
    font-size: 1.2rem;
}