.shape{
    height: 80vh;
    background-color: skyblue;
    margin: 0 2vw;
    min-width: 80vw;
}

.welcome-wraper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    /* min-width: 80vw; */
    background-color: skyblue;
    margin: 0 2vw;
}

.welcome-wraper h1 {
    color: white;
    margin: 2vh 5vw;
}

.education-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.education {
    height: min(15vh, 15vw);
    min-height: 100px;
    width: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* box-sizing: border-box; Ensure padding is included in the width calculation */
    padding: 0 2vw; /* Adjust padding as needed */
}

.img-format {
    display: flex;
    align-items: center;
    margin: 0 2vw;
}

.img-box {
    height: 30vh;
    min-height: 200px;
    width: auto;
    border-radius: 10px;
}

.text-box {
    margin: 2vh 2vw;
    height: auto;
    min-height: 200px;
    width: 40vw;
    min-width: 450px;
}

.text-box p {
    margin: 1vh 0;
    font-size: 1rem;
}

.text-box h3 {
    margin: 0;
    font-size: 1.2rem;
}
