.shape{
    width: 80vw;
    min-width: 800px;
    height: 80vh;
    padding: 0;
}

.welcome-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: skyblue;
    width: 80vw;
    min-width: 800px;
    height: calc(80vh - 100px);
}

.Welcome-Page{
    width: 70vw;
}

h1 {
    color: white;
    margin: 2vh 2vw;
}

.education {
    height: 15vh;
    min-height: 100px;
    width: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.education-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5vh 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2vw; /* Adjust padding as needed */
}

.img-format {
    display: flex;
    align-items: center;
    margin: 0 2vw;
}

.img-box {
    height: 20vh;
    min-height: 200px;
    width: auto;
    border-radius: 10px;
}

.text-box {
    margin: 2vh 2vw;
    height: max(100%, 200px);
    width: max(450px, 40vw);
}

.text-box p {
    margin: 1vh 0;
    font-size: 1rem;
}

.text-box h3 {
    margin: 0;
    font-size: 1.2rem;
}

@media screen and (max-height: 700px){
    .shape {
        min-width: 1400px;
    }

    .welcome-wrapper {
        min-width: 1400px;
    }

    .text-box p {
        margin: 1vh 0;
    }
}

@media screen and (max-height: 450px){

    .text-box p {
        font-size: .75rem;
    }
}

